.vert-cube-items-wrapper {
	.g-block {
	  padding: 0 8px;
	}
	.vert-cube-text-wrapper p{
		line-height: 1em;
	}
}

.sigmobile {
	.g-owlcarousel-item-img {
	  img {
	  	height: 350px;
	  }
	}
}

blockquote {
	border-left: 1px solid black;
	font-size: 10px;
}
